/node_modules
/dist
googleAPIKey.js
icons
builds
html-report
tools/analytics-dashboard/persistentJSON.json
test-reports
test-results
playwright-report
allure-results
allure-report
analytics.bat
analytics.ps1
buildFlags.js
bun.lock
package.json
.ftp_manifest.json
/backupScreenshots
